*{
    list-style: none;
    text-decoration: none;
}

body{
    height: 100%;
    font-family: sans-serif;
    overflow-x: hidden;
}




.nav-butts .btn1{
    border: 1px solid red;
font-size: 20px;
height: 2.5rem;
width: 10rem;

}

.nav-butts  .btnn{
    border: none;


}

.nav-butts .btn1 a{
font-size: 13px;

}
.nav-item i{
    font-size: 25px;
}

.nav-men .nav-item a{
    font-size: 25px;
    text-align: start;
}
.nav-rap{
overflow-y: hidden;

background-color: #fff;
}
.nav-wrapper{
background-color: #fff;
overflow-y: hidden;
    position: fixed;
    top: -10000px;
    height: 100vh;
    z-index: 6;
}
#cross{
    position: fixed;
    top: 2%;
    right: -100%;
    font-size: 25px;
    cursor: pointer;
    z-index: 12345678909;
}
.remove-box-shadow{
    box-shadow: none;
}


.my-nav-tog .togglers  .show-cross {
 left: 89%;
}

.show-nav{
    top: 1%;
  }
  .hide-nav-tog{
      display: none;
  }
  .hide-nav-logo{
    opacity: 0;
}
 .hide-shop-con p{
    display: none;
}

.navbaar{
    background-color: #fff;
    box-shadow: 0px 3px 2px 2px rgba(153, 152, 152, 0.2);
    z-index: 2;
}
.navbar-1{
    width: 80%;
}

.navbar-2{
    width: 30%;
}
.nav-butt{
    width: ;
}

.nav-sign{
    width: %;
}
.meal-cont button{
    border: none;
}
.btn-width{
    width: 40%;
    height: 2.5rem;
}
.meal-wrap .food-1{
    width: 38rem;
    height:38rem;
    border: 2px solid red;
    border-radius: 50%; 
}
.all p{
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 4px;
}
.magnify{
    position: absolute;
    top: 25%;
}

.magnify i{
  font-size: 20px;
}
.input-group{
    

}
.chatcon {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.meal-cont h1{
    font-weight: 500;
    font-size: 65px;
}
.meal-cont .para{
    font-size: 20px;
}
.para{
    width: 70%;
}
.shop-con-1 {

    width: 2rem;
    height: 2rem;
}
.shop-con {
    border-radius: 25%;
   
}

.shop-con i{
 font-size: 20px;
}
.image img{
    width: 22rem;
    height: 22rem;

}
.meal-wrap .food-mage{
width: 30rem;
height:30rem;
border-radius: 50%;
box-shadow:    10px 10px 4px 4px rgba(153, 152, 152, 0.4);
display: none;
}
.food-mage img{
    width: 100%;
}
.card-2{
    border-radius: 15px;
    box-shadow: 3px 3px 3px 3px rgba(153, 152, 152, 0.3); 
}
.menu-card-wrapper{
    height: 100%;
}
.card{ 
    border-radius: 15px;
    box-shadow: 3px 0px  rgba(153, 152, 152, 0.3);
}
.card-body-1{
    height: 8rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.blog-content{
    height: 12rem;
    overflow-y: scroll;
    overflow-x: hidden;
}
.card-body{
    height: 20rem;
}
.menu-card-wrapper{
    background-color:rgba(225,225,226,0.3);
}
.menu-1{
    
}

.menu-2{
}
.menu-2 {
    border: 1px solid rgba(153, 152, 152, 0.4);
    border-radius: 4px;
    height: 2.2rem;


}

.menu-2-li p{

    

}
.menu-2 p a{
    
    list-style: none;
    text-decoration: none;
    color: #000;
    font-size: 17px; 
}
.para-2{
    border-radius: 6px;
}
.testimony{
    background-color: rgb(250,250,250);
}
.test-1{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(153, 152, 152, 0.3);

}
.design{
   font-size: 15px;
}
.head{
font-size: 20px;
}
.blog .col-4 .card .blog-mage img{
    width: 13rem;
    height: 13rem;
    object-fit: cover;
}
.blog-image img{
  

}
.para-3{
    line-height: 30px;
    font-size: 20px;
    font-weight: 200;
}
.test-cont-2 {
    width: 70%;
}
.cir-1{
    width: .5rem;
    height: .5rem;
    background: #fff;
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px rgba(153, 152, 152, 0.1);
}
.elisp .active{
    background-color: red;
}
.para-4 h4{
font-size: 20px;
font-weight: 600;
}
.blog-header h2{
font-weight: 700;
}

.blog-header p{
    font-size: 20px;
    }
    .blog{
        margin-top: 130px;
        margin-bottom: 130px;

    }
    .footer{
        background-color: rgb(250,250,250);
    }
    
.footer ul li a{
    list-style: none;
    text-decoration: none;
    font-size: 17px;
}
.footer .line{
    width: 100%;
    height: 0.2rem;
    background-color: rgba(153, 152, 152, 0.4);
}
.social-cir{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: rgb(243,238,228);
}
.style{
    background-color: rgb(238,238,238);
}
.comp-serv li a{
    text-decoration: none;
}

@media(min-width: 768px) and (max-width: 992px) {

    .food-1{
        width: 20rem;
        height:20rem;
      
    }
    .food-mage{
    width: 15rem;
    height:15rem;
   
    }

}

@media(min-width: 576px) {

    .card-1{
        margin-top: 150px;
    }
    .food-1{
        width: 15rem;
        height:15rem;
      
    }
    .food-mage{
    width: 10rem;
    height:10rem;
   
    }
    

}

@media(max-width: 1400px) {


    .meal-wrap .food-1{
        width: 35rem;
        height:35rem;
       
        }

    
.meal-wrap .food-mage{
    width: 25rem;
    height:25rem;
    
    }

}

@media(max-width: 1200px) {
    .test-cont-2 {
        width: 100%;
    }
    .meal-wrap .food-1{
        width: 30rem;
        height:30rem;
       
        }
.meal-wrap .food-mage{
    width: 25rem;
    height:25rem;
    }
    
.meal-cont h1{
    font-weight: 500;
    font-size: 50px;
}
.meal-cont .para{
    font-size: 20px;
}
.para{
    width: 100%;
}

}


@media(max-width: 992px) {


    .meal-wrap .food-1{
        width: 22rem;
        height:22rem;
       
        }
.meal-wrap .food-mage{
    width: 20rem;
    height:20rem;
    }
    
.meal-cont h1{
    font-weight: 500;
    font-size: 30px;
}
.meal-cont .para{
    font-size: 15px;
}
.para{
    width: 100%;
}
}

@media(max-width: 768px) {


    .meal-wrap .food-1{
        width: 15rem;
        height:15rem;
       
        }
.meal-wrap .food-mage{
    width: 10rem;
    height:10rem;
    }
  .meal-cont button{
    width: 100%;
  }
}

@media(max-width: 410px) {
.test-cont-1{
    display: flex;
    flex-direction: column;
    
    

}
.test-cont-2{
    display: flex;
    text-align: center;

}
.test-name{
    margin-top: 20px;


}
}

@media (min-width: 410px) and (max-width: 578px) {
  
    .test-name{
padding-left: 30px;
    }
}
